.container{
	display: flex;
	justify-content: black;
	align-items: center;
}
.itemdiv{
	margin: auto;
	padding: auto;
	width: 30%;
}
#btn{
	margin: auto;
	padding: 10px;
	background: red;
	color: white;
	border: none;
}
img{
	width: 50%;
	height: 50%;
	object-fit: cover;
}